
<include file="layout/header" />
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <section class="content-header">
                    <h1>
                        <a href="#" onclick="location='__APP__/Admin'">返回</a>
                    </h1>
                </section>
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-body table-responsive">
                                    <table id="example2" class="table table-bordered table-hover text-center">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>采购单位</th>
                                            <th>类型</th>
                                            <th>规格</th>
                                            <th>开票时间</th>
                                            <th>数量</th>
                                            <th>单价</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <volist name="moulds" id="mould">
                                        <tr>
                                            <td>{$i}</td>
                                            <td>{$mould.p_name}</td>
                                            <td>{$mould.c_type}</td>
                                            <td>{$mould.c_guige}</td>
                                            <td>{$mould.c_date}</td>
                                            <td>{$mould.c_number}</td>
                                            <td>{$mould.c_price}</td>
                                        </tr>
                                        </volist>
                                        </tbody>
                                    </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>
                </section>
            </aside><!-- /.right-side -->
<include file="layout/footer" />