<include file="layout/header" />
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <section class="content-header">
        <h1>
            客户信息修改
            <small>Customer Edit</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body table-responsive">
                        <form role="form" action="__CONTROLLER__/recordUpdate" method="post">
                            <input type="hidden" name="id" value="{$customer.id}">
                            <!-- text input -->
                            <div class="form-group">
                                <label>单位名称</label>
                                <input type="text" name="c_name" class="form-control" placeholder="请输入..." value="{$customer.c_name}">
                            </div>
                            <div class="form-group">
                                <label>单位税号</label>
                                <input type="text" name="c_tax" class="form-control" placeholder="请输入..." value="{$customer.c_tax}">
                            </div>
                            <div class="form-group">
                                <label>地址电话</label>
                                <input type="text" name="c_addr" class="form-control" placeholder="请输入..." value="{$customer.c_addr}">
                            </div>
                            <div class="form-group">
                                <label>开户行及帐号</label>
                                <input type="text" name="c_bank" class="form-control" placeholder="请输入..." value="{$customer.c_bank}">
                            </div>
                            <div class="form-group">
                                <label>传真号</label>
                                <input type="text" name="c_fax" class="form-control" placeholder="请输入..." value="{$customer.c_fax}">
                            </div>
                            <div class="form-group">
                                <label>联系人</label>
                                <input type="text" name="c_linkman" class="form-control" placeholder="请输入..." value="{$customer.c_linkman}">
                            </div>
                            <div class="form-group">
                                <label>联系人电话</label>
                                <input type="text" name="c_linkmobile" class="form-control" placeholder="请输入..." value="{$customer.c_linkmobile}">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-sm" value="保存">
                            </div>
                        </form>
                        <button class="btn btn-primary btn-sm" onclick="javascript:window.history.go(-1)">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside><!-- /.right-side -->
<include file="layout/footer" />
