<include file="layout/header" />
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <section class="content-header">
        <h1>
            用户增加
            <small>User Add</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body table-responsive">
                        <form role="form" action="__CONTROLLER__/recordInsert" method="post">
                            <!-- text input -->
                            <div class="form-group">
                                <label>用户名称</label>
                                <input type="text" name="username" class="form-control" placeholder="请输入用户姓名">
                            </div>
                            <div class="form-group">
                                <label>登录帐号</label>
                                <input type="text" name="account" class="form-control" placeholder="请输入登录帐号">
                            </div>
                            <div class="form-group">
                                <label>登录口令</label>
                                <input type="password" name="password" class="form-control" placeholder="请输入登录口令">
                            </div>
                            <div class="form-group">
                                <label>电子邮件</label>
                                <input type="text" name="email" class="form-control" placeholder="请输入电子邮件">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-sm" value="保存">
                                <button class="btn btn-primary btn-sm" onclick="javascript:window.history.go(-1)">返回</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside><!-- /.right-side -->
<include file="layout/footer" />